<div class="row">
    <div class="col">
        <select class="form-select" aria-label="Default" name="id" [(ngModel)]="id" >
            <option selected>Selecciona un empleado</option>
            <option *ngFor="let employee of employees" [value]="employee.id_asesor">#000{{employee.id_asesor}} - {{employee.nombre}} {{employee.apellido1}} {{employee.apellido2}}</option>
            <!-- <option value="2">Asesor Comercial Senior</option>
            <option value="3">Asesor Comercial Màster</option> -->
        </select>
        <button class="btn btn-success" (click)="searchEmp()">Buscar</button>

        <!-- IF SELECT EMPLEADO -->
        <div *ngIf="cargado && soldArray.length != 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> ID: #000{{id}}</li>
                <li class="list-group-item"> NOMBRE: {{selected[0].nombre}} {{selected[0].apellido1}} {{selected[0].apellido2}} </li>
                <li class="list-group-item"> Nivel: {{selected[0].nivel}} </li>
              </ul>
        </div>

    </div>
    <div class="col">
        <div *ngIf="cargado && soldArray.length != 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Salario neto: ${{salario | number}}</li>
                <li class="list-group-item">Ventas: ${{ventas | number}}</li>
                <li class="list-group-item">Meta: ${{meta | number}}</li>
                <li class="list-group-item">Comisión: ${{comision | number}}</li>
                <li class="list-group-item"> - Aporte salud: ${{salud | number}}</li>
                <li class="list-group-item"> - Aporte riesgos: ${{riesgos | number}}</li>
                <li class="list-group-item"> - Aporte pension: ${{pension | number}}</li>
                <li class="list-group-item"></li>
              </ul>
        </div>
    </div>

    <div *ngIf="cargado && soldArray.length != 0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">-Aportes: ${{deducible | number}}</li>
            <li class="list-group-item">Total: ${{total | number}}</li>
          </ul>
    </div>
  </div>
