<div class="col-md4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Experiencia</label>
                    <select class="form-select" aria-label="Default" name="empleado" >
                        <option selected>Empleado.</option>
                        <option value="1">Asesor Comercial Junior</option>
                        <option value="2">Asesor Comercial Senior</option>
                        <option value="3">Asesor Comercial Màster</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="empleado" class="form-control">
                </div>  
        
                <div class="btn btn-block btn-success">
                    Guardar
                </div>  
            </form>
        </div>
    </div>
    
</div>
