.container-f {
    display: flex;
    flex-wrap: wrap;
  }

  .my-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    margin: 20px;;
  }
  
  .my-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .my-card-body {
    padding: 2px 16px;
  }

  h4, p{
      color: #ffffff;
  }

  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }