<div class="container-f">

    <div class="my-card">
        <div class="my-card-body" style="background-color: #59e459bb;" routerLink="/Inicio">
          <h4><b>Inicio</b></h4> 
          <hr>
          <p>Panel servicios de nomina ACME.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #ffd82c;" routerLink="/Empleados">
        <div class="my-card-body">
          <h4><b>Empleados</b></h4> 
          <hr>
          <p>Gestiona tu nómina.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #5791fd;" routerLink="/Ventas">
        <div class="my-card-body">
          <h4><b>Ventas</b></h4> 
          <hr>
          <p>Registro de ventas.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #fc9948;" routerLink="/Pagos">
        <div class="my-card-body">
          <h4><b>Pagos</b></h4> 
          <hr>
          <p>Architect & Engineer</p> 
        </div>
    </div>

</div>