<div class="container-f">

    <div class="my-card">
        <div class="my-card-body" style="background-color: #59e459bb;">
          <h4><b>Inicio</b></h4> 
          <p>Panel servicios de nomina ACME.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #ffd82c;">
        <div class="my-card-body">
          <h4><b>Empleados</b></h4> 
          <p>Gestiona tu nómina.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #5791fd;">
        <div class="my-card-body">
          <h4><b>Ventas</b></h4> 
          <p>Registro de ventas.</p> 
        </div>
    </div>

    <div class="my-card" style="background-color: #fc9948;">
        <div class="my-card-body">
          <h4><b>Pagos</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
    </div>

</div>